<div class="section section-top">
  <%- partial('index/top') %>
</div>
<div id="developers" class="section section-developers">
  <%- partial('index/developers') %>
</div>
<div id="store-managers" class="section section-store_managers">
  <%- partial('index/store-managers') %>
</div>
<div id="customers" class="section section-customers">
  <%- partial('index/customers') %>
</div>
<div class="section section-slider">
  <%- partial('index/slider') %>
</div>
<div id="services" class="section section-services">
  <%- partial('index/services') %>
</div>